<div class="container">

  <div>

      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Date</th>
              <th scope="col">Day</th>
              <th scope="col">Time</th>
              <th scope="col">Frequency</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let appointment of appointments">
              <th scope="row">{{appointment.FirstName}}</th>
              <td>{{appointment.LastName}}</td>
              <td>{{appointment.Date}}</td>
              <td>{{appointment.Day}}</td>
              <td>{{appointment.Time}}</td>
              <td>{{appointment.Frequency}}</td>

            </tr>
            <!-- <tr>
                <th scope="row">Sobia</th>
                <td>Syed</td>
                <td>4/26/2018</td>
                <td>Thursday</td>
                <td>4:23 PM</td>
                <td>Weekly</td>
              </tr>
            <tr>
                <th scope="row">Mark</th>
                <td>Simmons</td>
                <td>4/26/2018</td>
                <td>Thursday</td>
                <td>4:23 PM</td>
                <td>Weekly</td>
              </tr> -->
          </tbody>
        </table>

  </div>



</div>
