<div *ngIf="contact">
    <form>
        <div class="container">
        <h3>Contact Details</h3>
        <div class="form-group row">
                <label class="col-sm-2 col-form-label">Image</label>
                <img [src]="contact.image" style="max-width: 100%; max-height: 
                100%;">        
        </div>            
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <label class="col-sm-2 col-form-label">{{contact.firstname}}</label>
            </div>
        </div>
    
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <label class="col-sm-2 col-form-label">{{contact.lastname}}</label>
            </div>
        </div>
    
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
                <label class="col-sm-2 col-form-label">{{contact.phone}}</label>
            </div>
        </div>
    
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <label class="col-sm-2 col-form-label">{{contact.email}}</label>
            </div>
        </div>
    
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Time Zone</label>
            <div class="col-sm-10">
                <label class="col-sm-2 col-form-label">{{contact.timezone}}</label>
            </div>
        </div>
        <button [routerLink]="['/contacts']" class="btn btn-primary">Back</button>
        </div>
    </form>
</div>