<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">My Reminder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLinkActive="active" routerLink="/reminders" class="nav-link">Reminders</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" routerLink="/contacts" class="nav-link">Contacts</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <a *ngIf="!authService.loggedIn" routerLinkActive="active current" routerLink="/login" class="nav-link">Login</a>
          <a *ngIf="authService.loggedIn" routerLinkActive="active current" (click)="logOut()" class="nav-link">Logout</a>
      </form>
    </div>
  </nav>
</div>