<div class="col-md-6 col-md-offset-3 container">
  <div id="password_reset">
        <form name="form" (ngSubmit)="onReset(resetFormData)" #resetFormData='ngForm'>
            <div>
                <div>
                  <h4>Forgot Password?</h4>
                  <button type="button" class="close">&times;</button>
                </div>
                <div>
                    <p>Please enter your registered email to sent you the password reset instructions.</p>
  
                    <div class="form-group">
                        <label for="reset_email">Email</label>
                        <input type="text" class="form-control" name="email" (ngModel)="email" #email="ngModel"
                               required
                               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                               id="reset_email"/>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" [disabled]="!resetFormData.form.valid"
                    >Reset
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
  </div>
</div>
