<div class="container">
  <h3>Reminder Edit</h3>
  <br>
  <div class="person-icon">      
    <input type="button" id="loadPicFile" value="choose picture file" onclick="document.getElementById('file').click();" />
    <input (change)="onReminderEdit($event)" type="file" style="display:none;" id="file" name="file"/>
  </div>
  <br>
  <div class="person-icon">      
    <input type="button" id="removePicFile" value="remove picture" (click)="onReminderRemoveImage($event);" />
  </div>    
  <br>
  <div class="form-group row">
    <label for="firstName" class="col-2 col-form-label">First Name</label>
    <div class="col-10">
      <input readonly class="form-control" type="text" [(ngModel)] ="reminder.contfirstname" id="firstName">
    </div>
  </div>
  <div class="form-group row">
    <label for="lastName" class="col-2 col-form-label">Last Name</label>
    <div class="col-10">
      <input readonly class="form-control" type="text" [(ngModel)] ="reminder.contlastname" id="lastName">
    </div>
  </div>
  <div class="form-group row">
    <label for="phone" class="col-2 col-form-label">Phone</label>
    <div class="col-10">
      <input readonly class="form-control" type="Phone" [(ngModel)] ="reminder.contmobile" id="phone">
    </div>
  </div>
  <div class="form-group row">
      <label for="time" class="col-2 col-form-label">Time</label>
      <div class="col-10">
        <input class="form-control" type="time" [(ngModel)] ="reminder.time" id="time">
      </div>
  </div>
 
  <button (click) = "SaveReminder()" class="btn btn-primary">Update</button>
  <button [routerLink]="['/reminders']" class="btn btn-warning">Cancel</button>
</div>
