<div class="wrapper">
    <form class="form-signin">       
      
      <input type="text" class="form-control" name="username" placeholder="Email Address" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="Password" />      
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button
        (click)=login()
        class="btn btn-lg btn-primary btn-block" 
        type="submit">Login</button>   
    </form>
  </div>