<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">TimeZone</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contact of contacts">
                <td>
                  <a [routerLink]="['/contacts', contact.id]">
                    {{contact.FirstName}}
                  </a>
                </td>
                <td>{{contact.LastName}}</td>
                <td>{{contact.Phone}}</td>
                <td>{{contact.Email}}</td>
                <td>{{contact.TimeZone}}</td>
                <td>
                    <a [routerLink]="['/contacts', contact.id, 'edit']" class="btn btn-primary">Edit</a>
                  </td>
                </tr>
            </tbody>
          </table>
    </div>
    <button class="btn btn-primary">Add Contact</button>
  </div>
  