<div class="container">
    <h3>Contacts</h3>
    <div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">TimeZone</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contact of contacts">
                <td>
                  <a [routerLink]="['/contacts', user.uid, contact.cid]" class="btn btn-primary">
                    {{contact.firstname}}
                  </a>
                </td>
                <td>{{contact.lastname}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.timezone}}</td>
                <td>
                    <a [routerLink]="['/contacts', user.uid, contact.cid, 'edit']" class="btn btn-primary">Edit</a>
                </td>
                <td>
                  <button (click) = "DeleteContact(contact.cid)" class="btn btn-primary">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <button [routerLink]="['/contacts', user.uid , 'add']" class="btn btn-primary">Add Contact</button>
  </div>
  