<div class="container">
  <div>
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Date</th>
              <th scope="col">Day</th>
              <th scope="col">Time</th>
              <th scope="col">Frequency</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reminder of reminders">
              <th scope="row">{{reminder.FirstName}}</th>
              <td>{{reminder.LastName}}</td>
              <td>{{reminder.Date}}</td>
              <td>{{reminder.Day}}</td>
              <td>{{reminder.Time}}</td>
              <td>{{reminder.Frequency}}</td>
              <td>
                <a href="" class="btn btn-primary">Edit</a>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
