<div class="container">
  <h3>Reminders</h3>
  <div>
      <table class="table table-striped">
          <thead>
            <tr>
                <th scope="col">Image</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Phone</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reminder of reminders$ | async">
              <td><img *ngIf="reminder?.image.length > 0" height="40" width="40" [src]="reminder.image"></td>
              <td>{{reminder.contfirstname}}</td>
              <td>{{reminder.contlastname}}</td>
              <td>{{reminder.contmobile}}</td>
              <td>{{reminder.time}}</td>
              <td>
                  <a [routerLink]="['/reminders', user.uid, reminder.rid, 'edit']" class="btn btn-primary">Edit</a>
              </td>
              <td>
                <button (click) = "DeleteReminder(reminder.rid)" class="btn btn-primary">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
