<div class="container">
  <h3>Reminders</h3>
  <div>
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Date</th>
              <th scope="col">Day</th>
              <th scope="col">Time</th>
              <th scope="col">Frequency</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reminder of reminders">
              <td>
                <a [routerLink]="['/reminders', reminder.id]">
                  {{reminder.FirstName}}
                </a>
              </td>
            
              <td>{{reminder.LastName}}</td>
              <td>{{reminder.Date}}</td>
              <td>{{reminder.Day}}</td>
              <td>{{reminder.Time}}</td>
              <td>{{reminder.Frequency}}</td>
              <td>
                <a 
                    [routerLink] ="['/reminders', reminder.id, 'edit']"
                    class="btn btn-primary">
                  Edit
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <button
          [routerLink]="['reminders',0,'edit']"
         class="btn btn-primary">Add reminder</button>

       
  </div>
</div>
